@model HikingClubTripList.Models.Trip

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h2>Are you sure you want to delete (cancel) this trip?</h2>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElevationGain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElevationGain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
    </dl>
    <form asp-action="Delete" class="submit-form">
        <input type="hidden" asp-for="TripID" />
        <input type="submit" value="Delete" class="btn btn-danger button btn-submit btn-final-delete" />
    </form>
    <div role="presentation" class="link-separator-for-delete">
        <a asp-action="Index" class="view-link link-back-to-list">Back to List</a>
    </div>
</div>
