@model HikingClubTripList.Models.TripDetailsViewModel

@{
    ViewData["Title"] = "Details";
}
    <div class="trip-detail-page" role="presentation">
        <h1>Trip Details</h1>

        <dl class="trip-detail">
            <dd class="trip-date">
                @Html.DisplayFor(model => model.Trip.Date)
            </dd>
            <dd class="trip-title">
                @Html.DisplayFor(model => model.Trip.Title)
            </dd>
            <dd class="trip-level">
                @Html.DisplayFor(model => model.Trip.Level)
            </dd>
            <dd class="trip-distance">
                @Html.DisplayFor(model => model.Trip.Distance) km
            </dd>
            <dd class="trip-elevation-gain">
                @Html.DisplayFor(model => model.Trip.ElevationGain) m
            </dd>
            <dd class="trip-description">
                @Html.DisplayFor(model => model.Trip.Description)
            </dd>
        </dl>
        <dl class="trip-participant-info">
            <dt class="trip-max-participants-title">
                @Html.DisplayNameFor(model => model.Trip.MaxParticipants)
            </dt>
            <dd class="trip-max-participants">
                @Html.DisplayFor(model => model.Trip.MaxParticipants)
            </dd>
            <dt class="trip-leader-title">
                Leader
            </dt>
            <dd class="trip-leader">
                @Html.DisplayFor(model => model.LeaderName)
            </dd>
            <dt class="trip-participants-title">
                Participants:
            </dt>
            <dd class="trip-participant-list">
                @foreach (var item in Model.ParticipantNames)
                {
                    <span class="trip-participant">
                        @Html.DisplayFor(modelItem => item)
                    </span>
                }
            </dd>
        </dl>

        <div class="button-footer" role="presentation">
            @{
                if (Model.IncludeDelete)
                {
                    <a asp-action="Delete" asp-route-id="@Model.Trip.TripID" class="button link-btn link-btn-delete">Delete</a>
                }
                if (Model.IncludeEdit)
                {
                    <a asp-action="Edit" asp-route-id="@Model.Trip.TripID" class="button link-btn link-btn-edit">Edit</a>
                }
                if (Model.IncludeWithdraw)
                {
                    <form asp-action="WithdrawFromTrip" class="submit-form frm-withdraw">
                        <input value="@Model.Trip.TripID" name="tripID" type="hidden" />
                        <input type="submit" value="Withdraw" class="button submit-btn btn-withdraw" />
                    </form>
                }
                if (Model.IncludeSignup)
                {
                    <form asp-action="SignUpForTrip" class="submit-form frm-signup">
                        <input value="@Model.Trip.TripID" name="tripID" type="hidden" />
                        <input type="submit" value="Sign Up" class="button submit-btn btn-signup" />
                    </form>
                }
                <a asp-action="Index" class="view-link link-back-to-list">Back to List</a>
            }
        </div>
    </div>