@model HikingClubTripList.Models.Trip

@{
    ViewData["Title"] = "Details";
}

<h1>Trip Details - Hello, @(ViewBag.LoggedInMemberName)</h1>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Distance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Distance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ElevationGain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ElevationGain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxParticipants)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxParticipants)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            Leader
        </dt>
        @{
            bool loggedInMemberIsLeader = false;
            foreach (var item in Model.Signups)
            {
                if (item.AsLeader)
                {
                    if (item.Member.MemberID == ViewBag.LoggedInMember)
                    {
                        loggedInMemberIsLeader = true;
                    }
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.Member.Name)
                    </dd>
                }
            }
            string dtContent = "Participants";
            bool alreadySignedUp = false;
            foreach (var item in Model.Signups)
            {
                if (!item.AsLeader)
                {
                    <!-- Check if signed in member already signed up. Does not apply to leader. Leader cannot widthdraw! -->
                    if (item.Member.MemberID == ViewBag.LoggedInMember)
                    {
                        alreadySignedUp = true;
                    }
                    <dt class="col-sm-2">
                        @dtContent
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(modelItem => item.Member.Name)
                    </dd>
                    dtContent = "";
                }
            }
        }
    </dl>
</div>
<div>
    @{
        string signupButtonType = "submit";
        string withdrawButtonType = "hidden";
        if (alreadySignedUp)
        {
            signupButtonType = "hidden";
            withdrawButtonType = "submit";
        }
        if (Model.Signups.Count >= Model.MaxParticipants)
        {
            signupButtonType = "hidden";
        }
        if (loggedInMemberIsLeader)
        {
            signupButtonType = "hidden";
        }
    }
    <a asp-action="Edit" asp-route-id="@Model.TripID">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <form asp-action="WithdrawFromTrip" class="form">
        <input asp-for="TripID" type="hidden" />
        <input type=@withdrawButtonType value="Withdraw" class="btn btn-primary" />
    </form>
    <form asp-action="SignUpForTrip" class="form">
        <input asp-for="TripID" type="hidden" />
        <input type=@signupButtonType value="Signup" class="btn btn-primary" />
    </form>
</div>
