@model IEnumerable<HikingClubTripList.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Hiking Trip List</h1>

<div role="presentation">
    <a class="action-link" asp-action="Create">Add a New Trip</a>
</div>
<table class="trip-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                Leader
            </th>
            <th>
                Spaces
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 0;}
@foreach (var item in Model)
{
        <tr>
            <td>
                @{string sd = item.Date.ToString("dd-MMM");
                }<span class="short-form" role="presentation">@sd</span><span class="long-form">@(item.Date.ToString("dd-MMM-yyyy"))</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @{string abrv = Convert.ToString(item.Level).Substring(0, 3) + ".";
                }<span class="short-form" role="presentation">@abrv</span><span class="long-form">@item.Level</span>
            </td>
            <td>
                @(ViewBag.LeadersList[i])
            </td>
            <td>
                @(ViewBag.SpacesLeftList[i])
            </td>
            @{i++;
            }
            <td>
                <a class="view-link" asp-action="Details" asp-route-id="@item.TripID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
